/*eu tava cansado de toda vez que eu fizesse uma alteração no header ou no footer,
ter que copiar e colar nos 3 arquivos css, e ai eu pensei:
seria tao bom se desse pra ter um arquivo css geral...*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
    --color1 : #1c0b2b ;
    --color2  :#301c41 ;
    --color3  :#413b6b ;
    --color4 : #5c65c0 ;
    --color5 : #6f95ff ;
}
header{
    background: var(--color4);
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
header h1{
    margin-right: 20px;
}
.textoHeader{
    color:#fff;
    transition: transform 0.25s ease;
}
.textoHeader:hover{
    transform: scale(1.1);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.nav-links{
    display:flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 22px;
}

body{
    background: var(--color1);
    display:flex;
    flex-direction: column;
    gap: 30px;
}