
.hero{
    color:#fff;
    background-color: var(--color2);
    border-radius: 10px;
    font-size:clamp(16px,2vw,32px);
    display:flex;
    flex-direction: column;
    width: 80vw;
    align-self: center;
    align-items: center;
}
.apresentaçao{
    color:#fff;
    font-size: clamp(24px,1.2vw,96px);

    display:flex;
   align-items: stretch;
   align-self: center;

   gap: 30px;
   margin: 20px;
    width: 80vw;
}
.apresentaçao section{
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-laranja {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
section:first-child {
    flex: 3;
}

section:last-child {
    flex: 1;
}
