main{
    display: flex;
    justify-content: space-around;
    align-items:stretch;
    flex-wrap: wrap;
}
main h1{
    font-size: 28px;
}
main section{
    color:#fff;
    background-color: var(--color5);

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

   overflow:hidden;
    width: 23%;
    border-radius: 10PX;
    margin: 22px;
   
    transition: transform 0.25s ease;
}
main section:hover{
     transform: scale(1.16)
}
main section div:nth-child(1){
    flex: 1;
}


main section p{
    text-align: center;
    padding: 15px;
}


main section img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.ano-0-3 div p{
    font-size: 44px;
    line-height: 1.6;
}
.curiosidades ul{
    list-style-type: disc;
    padding-left: 35px;
    margin: 0;
    font-size: 18px;
}
